@import "../../styles/helpers.scss";

.mainPage {
  width: 100%;
  height: 100%;

  .greetings {
    color: $greeter_font_color;
    padding: 0 size(8);
    font-weight: 700;
    font-size: size(30);
  }

  .foodContent {
    width: 100%;
    height: size(400);
    overflow-y: auto;
    outline: inset red 1px;
  }
}
