@font-face {
    font-family: PingFangSC;
    src: url('../assets/fonts/PingFang\ SC\ Regular.ttf');
}
@font-face {
    font-family: DINPro;
    src: url('../assets/fonts/DIN\ Pro\ Bold\ 700.otf');
}
@font-face {
    font-family: PoppinsRegular;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: PoppinsBold;
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: SofiaPro;
    src: url('../assets/fonts/Sofia\ Pro\ Regular\ Az.woff');
}