$main_theme_color: #fe724c;

$theme_color_normal: #ffffff;
$black_font_color: #111719;
$gray_text: #67666d;
$greeter_font_color: #323643;
$lightgray_text: #9796a1;
$gray_email_text_color: #9ea1b1;
$entry_prompt_text_color: #5b5b5e;
$category_text_color: #8a8e9b;
$modal_desc_text_color: #858992;
$bottom_border_color: #f1f2f3;
$description_font_color: #7e8392;
