$main_theme_color : #FE724C;


$theme_color_normal: #FFFFFF;
$black_font_color: #111719;
$gray_text :#67666D;
$greeter_font_color: #323643;
$lightgray_text: #9796A1;
$gray_email_text_color: #9EA1B1;
$entry_prompt_text_color: #5B5B5E;