@import '../../styles/fonts.scss';
@import '../../styles/functions.scss';

.header{
    width: 100%;
    height: size(54);
    display: flex;
    align-items: flex-end;
    font-family: PoppinsRegular;
    flex: 1 0 auto;
    background: blue;

    p{
        width: 100%;
       
    }

    .notif{
        color: red;
        width: size(24);
        height: size(24);
        background: transparent;
    }
}