@import '../../styles/functions.scss';
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: size(74);
    background: #ffffff;

    nav{
        width: 100%;
        height: 100%;
        padding: 0 10px;
        display: flex;
        // justify-content: space-evenly;
        align-items: center;
        text-align: center;

        .navItem{
            outline: inset red;
            width: 100%;
            height: 100%;
            border-radius: size(4);
            background: gray;
            // margin-right: ;

            img{
                width: size(28);
                height: size(27);
            }
        }
    }
}