@import '../../../styles/mixins.scss';
@import '../../../styles/functions.scss';

.categories{
    position: relative;
    width: size(344);
    height: size(102);
    margin: auto;
    @include flexNoShrink;
    justify-content: flex-start;
    flex-grow: 0;
    overflow-x: scroll;
    
    
    .categoryItems{
        margin-right: size(20);
        width: size(74);
        height: size(102);
        text-align: center;
        outline: inset red 1px;

        &:last-child{
            margin-right: 0;
        }

        img{
            width: size(74);
            height: size(74);
        }
        p{
          
            margin-top: size(-4);
            font-size: size(10);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}