@import '../../../styles/mixins.scss';
@import '../../../styles/functions.scss';

.categories{
    position: relative;
    width: size(344);
    height: size(102);
    margin: auto;
    @include flexNoShrink;
    justify-content: space-evenly;
    outline: inset green 1px;
    flex-wrap: wrap;
    
    
    .categoryItems{
        width: size(74);
        height: size(102);
        text-align: center;
        outline: inset red 1px;

        img{
            width: size(74);
            height: size(74);
        }
        p{
         background: yellow;
         margin-top: size(-4);
        }
    }
}