@import '../../styles/functions.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.productPageWrapper{
    width: 100%;
    height: 100dvh;
    padding: 0 size(30);

    .close{
        position: absolute;
        top: size(10);
        left: size(10);
        width: size(38);
        height: size(38);
        background: #ffffff;
        border-radius: size(10);

        img{
            @include center_absolute;
            width: size(5);
            height: size(10);
        }
    }

    header{
        width: 100%;
        height: size(300);
        padding:size(60) size(30);

        h2{
            font-family: SofiaPro;
            font-style: normal;
            font-weight: 700;
            font-size: size(45);
            line-height: 110%;
            color: $main_theme_color;
        }
    }

    section{
        
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .foodItems{
            position: relative;
            width: size(323);
            height: size(248);
            box-shadow: size(18) size(18) size(36) rgba(211, 209, 216, 0.25);
            border-radius: size(18);
            margin-bottom: size(24);

            .price{
                position: absolute;
                top: size(12);
                left: size(12);
                width: size(72);
                background: #FFFFFF;
                box-shadow: size(0) size(7) size(28) rgba(254, 114, 76, 0.2);
                border-radius: size(121);
                padding: 0 size(10);
                text-align: center;

                b{
                    color: $main_theme_color;
                    margin-right: size(2);
                }
            }
            img{
                width: size(323);
                height: size(165);
                border-radius: size(18);
            }

            .itemInfo{
                width: 100%;
                font-family: SofiaPro;

                .name{
                    font-weight: 600;
                    font-size: size(18);
                    color: #000000;
                }

                .description{
                    color: $entry_prompt_text_color;
                    font-weight: 400;
                    font-size: size(14);
                }
            }
        }
    }
    
}