@import './styles/fonts.scss';

*{
    font-family: SofiaPro;
    font-size: 16px;

    img{
        user-select: none;
    }
}

.App {
 position: relative;

 
}
.splash{
    width: 100%;
    height: 100dvh;
    object-fit: cover;
 }

